<!DOCTYPE html>
<html>
  <head>
    <title>Atom Hopper - Past Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/repose.css" rel="stylesheet" media="screen">
    <link href="/css/prettify.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".repose-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Atom Hopper</a>
      <div class="nav-collapse collapse bs-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/atom_hopper/tests">Running Tests</a></li>
          <li><a href="/atom_hopper/applications">Applications</a></li>
          <li class="active"><a href="/atom_hopper/results">Results</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/atom_hopper">Home</a></li>
        <li><a href="/atom_hopper/results">Results</a></li>
        <li><a href="/atom_hopper/results/main">main</a></li>
        <li><a href="/atom_hopper/results/main/load_test">load_test</a></li>
        <li class="active">e464b1b6-10ab-4332-8b30-8439496c2d19</li>
      </ul>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Average Response Time</h3>
        </div>
        <div id="art" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Throughput</h3>
        </div>
        <div id="throughput" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Total Errors</h3>
        </div>
        <div id="cpu" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Requests and responses</h3>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Request</th>
              <th>Response</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td>GET /v1.0/{user}/flavors ["x-auth-token: valid-admin-token${user}", "x-auth-project-id: test", "accept: application/json"]
                <pre class="prettyprint linenums languague-css"><!-- --><!-- --></pre>
              </td>
              <td>200</td>
            </tr>
            
            <tr>
              <td>GET /v1.0/{user}/limits ["x-auth-token: valid-admin-token${user}", "x-auth-project-id: test", "accept: application/json"]
                <pre class="prettyprint linenums languague-css"><!-- --><!-- --></pre>
              </td>
              <td>200</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Configurations</h3>
        </div>
        <div class="accordion" id="config-accordion">
          
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#config-accordion" href="#config1_xml">config1_xml</a>
            </div>
            <div id="config1_xml" class="accordion-body collapse in">
              <div class="accordion-inner">
                <pre class="prettyprint linenums languague-css"><!-- -->&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;

&lt;http-logging xmlns=&quot;http://docs.rackspacecloud.com/repose/http-logging/v1.0&quot;&gt;
        &lt;!-- The id attribute is to help the user easily identify the log --&gt;
        &lt;!-- The format includes what will be logged.  The arguments with % are a subset of the apache mod_log_config
             found at http://httpd.apache.org/docs/2.2/mod/mod_log_config.html#formats --&gt;
        &lt;http-log id=&quot;my-special-log&quot; format=&quot;Response Time=%T seconds\tResponse Time=%D microseconds\tResponse Code Modifiers=%200,201U\tModifier Negation=%!401a\tRemote IP=%a\tLocal IP=%A\tResponse Size(bytes)=%b\tRemote Host=%hRequest Line=&amp;quot;%r&amp;quot;\tRequest Method=%m\tRequest Protocol=%H\tServer Port=%p\tQuery String=%q\tTime Request Received=%t\tStatus=%s\tRemote User=%u\tURL Path Requested=%U\n&quot;&gt;
            &lt;targets&gt;
                &lt;!-- The actual log file --&gt;
                &lt;file location=&quot;/usr/local/logs/repose.log&quot;/&gt;
            &lt;/targets&gt;
        &lt;/http-log&gt;

        &lt;http-log id=&quot;my-other-log&quot; format=&quot;Remote IP=%a Local IP=%A&quot;&gt;
            &lt;targets&gt;
                &lt;file location=&quot;/usr/local/logs/repose_other.log&quot;/&gt;
            &lt;/targets&gt;
        &lt;/http-log&gt;
&lt;/http-logging&gt;
<!-- --></pre>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Test Setup</h3>
        </div>
        <div class="row">
          <label for="testLocation" class="col-lg-2 control-label">Test Location</label>
          <div class="col-lg-10">
            <a href="/atom_hopper/results/main/load_test/e464b1b6-10ab-4332-8b30-8439496c2d19/test_download/jmeter">jmeter</a>
          </div>
        </div>
      </div>
      <div class="panel panel-summary">
        <div class="panel-heading">
          <h3 class="panel-title">Detailed Test Results</h3>
        </div>
        <table class="table table-hover">
          <caption>Repose</caption>
          <thead>
            <tr>
              <th>Time</th>
              <th>ART</th>
              <th>Throughput</th>
              <th>Errors</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td>0 s</td>
              <td>70 ms</td>
              <td>14.3 rps</td>
              <td>1</td>
            </tr>
            
            <tr>
              <td>0 s</td>
              <td>1 ms</td>
              <td>1113.2 rps</td>
              <td>6058</td>
            </tr>
            
            <tr>
              <td>5 s</td>
              <td>1 ms</td>
              <td>1318.9 rps</td>
              <td>7915</td>
            </tr>
            
            <tr>
              <td>11 s</td>
              <td>1 ms</td>
              <td>1446.8 rps</td>
              <td>8682</td>
            </tr>
            
            <tr>
              <td>17 s</td>
              <td>1 ms</td>
              <td>1468.1 rps</td>
              <td>8810</td>
            </tr>
            
            <tr>
              <td>23 s</td>
              <td>1 ms</td>
              <td>1459.5 rps</td>
              <td>8760</td>
            </tr>
            
            <tr>
              <td>29 s</td>
              <td>1 ms</td>
              <td>1472.8 rps</td>
              <td>8840</td>
            </tr>
            
            <tr>
              <td>35 s</td>
              <td>1 ms</td>
              <td>1478.9 rps</td>
              <td>8875</td>
            </tr>
            
            <tr>
              <td>41 s</td>
              <td>1 ms</td>
              <td>1456.0 rps</td>
              <td>8739</td>
            </tr>
            
            <tr>
              <td>47 s</td>
              <td>1 ms</td>
              <td>1486.2 rps</td>
              <td>8917</td>
            </tr>
            
            <tr>
              <td>53 s</td>
              <td>1 ms</td>
              <td>1437.2 rps</td>
              <td>8623</td>
            </tr>
            
            <tr>
              <td>59 s</td>
              <td>1 ms</td>
              <td>1452.4 rps</td>
              <td>8716</td>
            </tr>
            
            <tr>
              <td>65 s</td>
              <td>1 ms</td>
              <td>1459.8 rps</td>
              <td>8760</td>
            </tr>
            
            <tr>
              <td>71 s</td>
              <td>1 ms</td>
              <td>1469.2 rps</td>
              <td>8815</td>
            </tr>
            
            <tr>
              <td>77 s</td>
              <td>1 ms</td>
              <td>1485.0 rps</td>
              <td>8913</td>
            </tr>
            
            <tr>
              <td>83 s</td>
              <td>1 ms</td>
              <td>1472.5 rps</td>
              <td>8835</td>
            </tr>
            
            <tr>
              <td>89 s</td>
              <td>1 ms</td>
              <td>2482.1 rps</td>
              <td>14895</td>
            </tr>
            
            <tr>
              <td>95 s</td>
              <td>1 ms</td>
              <td>2643.3 rps</td>
              <td>15865</td>
            </tr>
            
            <tr>
              <td>101 s</td>
              <td>1 ms</td>
              <td>2595.2 rps</td>
              <td>15574</td>
            </tr>
            
            <tr>
              <td>107 s</td>
              <td>1 ms</td>
              <td>2668.3 rps</td>
              <td>16018</td>
            </tr>
            
            <tr>
              <td>113 s</td>
              <td>1 ms</td>
              <td>2605.4 rps</td>
              <td>15635</td>
            </tr>
            
            <tr>
              <td>119 s</td>
              <td>1 ms</td>
              <td>2612.3 rps</td>
              <td>15674</td>
            </tr>
            
            <tr>
              <td>125 s</td>
              <td>1 ms</td>
              <td>2694.6 rps</td>
              <td>16170</td>
            </tr>
            
            <tr>
              <td>131 s</td>
              <td>1 ms</td>
              <td>2704.9 rps</td>
              <td>16235</td>
            </tr>
            
            <tr>
              <td>137 s</td>
              <td>1 ms</td>
              <td>2641.1 rps</td>
              <td>15849</td>
            </tr>
            
            <tr>
              <td>143 s</td>
              <td>1 ms</td>
              <td>2665.3 rps</td>
              <td>16000</td>
            </tr>
            
            <tr>
              <td>149 s</td>
              <td>1 ms</td>
              <td>2677.6 rps</td>
              <td>16068</td>
            </tr>
            
            <tr>
              <td>155 s</td>
              <td>1 ms</td>
              <td>2576.7 rps</td>
              <td>15463</td>
            </tr>
            
            <tr>
              <td>161 s</td>
              <td>1 ms</td>
              <td>2672.8 rps</td>
              <td>16037</td>
            </tr>
            
            <tr>
              <td>167 s</td>
              <td>1 ms</td>
              <td>2636.0 rps</td>
              <td>15821</td>
            </tr>
            
            <tr>
              <td>173 s</td>
              <td>1 ms</td>
              <td>2687.1 rps</td>
              <td>16125</td>
            </tr>
            
            <tr>
              <td>179 s</td>
              <td>1 ms</td>
              <td>3709.4 rps</td>
              <td>22260</td>
            </tr>
            
            <tr>
              <td>185 s</td>
              <td>1 ms</td>
              <td>3763.4 rps</td>
              <td>22588</td>
            </tr>
            
            <tr>
              <td>191 s</td>
              <td>1 ms</td>
              <td>3701.2 rps</td>
              <td>22211</td>
            </tr>
            
            <tr>
              <td>197 s</td>
              <td>1 ms</td>
              <td>3754.1 rps</td>
              <td>22532</td>
            </tr>
            
            <tr>
              <td>203 s</td>
              <td>1 ms</td>
              <td>3667.0 rps</td>
              <td>22013</td>
            </tr>
            
            <tr>
              <td>209 s</td>
              <td>1 ms</td>
              <td>3687.6 rps</td>
              <td>22129</td>
            </tr>
            
            <tr>
              <td>215 s</td>
              <td>1 ms</td>
              <td>3779.5 rps</td>
              <td>22681</td>
            </tr>
            
            <tr>
              <td>221 s</td>
              <td>1 ms</td>
              <td>3799.9 rps</td>
              <td>22807</td>
            </tr>
            
            <tr>
              <td>227 s</td>
              <td>1 ms</td>
              <td>3606.4 rps</td>
              <td>21642</td>
            </tr>
            
            <tr>
              <td>233 s</td>
              <td>1 ms</td>
              <td>3586.2 rps</td>
              <td>21517</td>
            </tr>
            
            <tr>
              <td>239 s</td>
              <td>1 ms</td>
              <td>3726.9 rps</td>
              <td>22369</td>
            </tr>
            
            <tr>
              <td>245 s</td>
              <td>1 ms</td>
              <td>3670.8 rps</td>
              <td>22043</td>
            </tr>
            
            <tr>
              <td>251 s</td>
              <td>1 ms</td>
              <td>3704.9 rps</td>
              <td>22237</td>
            </tr>
            
            <tr>
              <td>257 s</td>
              <td>1 ms</td>
              <td>3621.1 rps</td>
              <td>21734</td>
            </tr>
            
            <tr>
              <td>263 s</td>
              <td>1 ms</td>
              <td>3724.5 rps</td>
              <td>22351</td>
            </tr>
            
            <tr>
              <td>269 s</td>
              <td>1 ms</td>
              <td>4382.9 rps</td>
              <td>26306</td>
            </tr>
            
            <tr>
              <td>275 s</td>
              <td>1 ms</td>
              <td>4689.1 rps</td>
              <td>28139</td>
            </tr>
            
            <tr>
              <td>281 s</td>
              <td>1 ms</td>
              <td>4579.7 rps</td>
              <td>27483</td>
            </tr>
            
            <tr>
              <td>287 s</td>
              <td>1 ms</td>
              <td>4716.4 rps</td>
              <td>28308</td>
            </tr>
            
            <tr>
              <td>293 s</td>
              <td>1 ms</td>
              <td>4498.3 rps</td>
              <td>26999</td>
            </tr>
            
            <tr>
              <td>299 s</td>
              <td>1 ms</td>
              <td>4634.8 rps</td>
              <td>1599</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; Rackspace Hosting 2013</p>
    </footer>
  </div> <!-- /container -->
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="/js/respond.js"></script>
    <script src="/js/repose.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="/js/prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        window.prettyPrint && prettyPrint()
        $(".accordion-toggle").collapse();
        var art_option = {
          chart: {
            renderTo: 'art',
            type: 'area',
            zoomType: 'x'
          },
          title: {
            text: 'Average Response Time'
          },
          yAxis:{
            title: {
              text: 'Milliseconds'
            }
          },
          series: [{
            name: 'Average Response Time'
          }]
        };        
        var throughput_option = {
          chart: {
            renderTo: 'throughput',
            type: 'area',
            zoomType: 'x'
          },
          title: {
            text: 'Average Throughput'
          },
          yAxis:{
            title: {
              text: 'requests/sec'
            }
          },
          series: [{
            name: 'Average throughput'
          }]
        };        
        var cpu_option = {
          chart: {
            renderTo: 'cpu',
            type: 'area',
            zoomType: 'x'
          },
          title: {
            text: 'Error Count'
          },
          yAxis:{
            title: {
              text: 'Total'
            }
          },
          series: [{
            name: 'Error count'
          }]
        };         

        $.getJSON('/atom_hopper/results/main/load_test/metric/avg/id/e464b1b6-10ab-4332-8b30-8439496c2d19', function(data) {
          art_option.series[0].data = data['avg'];
          var art_chart = new Highcharts.Chart(art_option);
        }); 
        $.getJSON('/atom_hopper/results/main/load_test/metric/errors/id/e464b1b6-10ab-4332-8b30-8439496c2d19', function(data) {
          cpu_option.series[0].data = data['errors'];
          var cpu_chart = new Highcharts.Chart(cpu_option);
        }); 
        $.getJSON('/atom_hopper/results/main/load_test/metric/throughput/id/e464b1b6-10ab-4332-8b30-8439496c2d19', function(data) {
          throughput_option.series[0].data = data['throughput'];
          var throughput_chart = new Highcharts.Chart(throughput_option);
        }); 
      });
    </script>
  </body>
</html>
